* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: lightcyan;
  font-family: monospace;
}
nav {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 100vw;
  box-shadow: 1px 1px 10px 1px green inset;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 30px 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  background-color: lightgreen;
  padding: 4px;
}
nav ul li:hover {
  transform: scale(1.2);
  flex-wrap: wrap;
}
a:hover {
  color: black;
  border: 1px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  transition: 0.3s;
}
body {
  color: black;
  position: fixed;
}
.div1 {
  margin: 80px 40px;
  height: auto;
  width: 90vw;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px green inset;
}
.div2 h3 {
  float: left;
  width: 30vw;
  display: flex;
  align-items: center;
  margin: 30px;
  word-spacing: 10px;
}
.div3 {
  float: right;
  width: 60vw;
  align-items: center;
}
.name {
  color: darkviolet;
}
img {
  height: 35vh;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
  width: 40%;
}
@media screen and (max-width: 500px) {
  .div1 {
    margin-top: 50px;
    width: 80vw;
    font-size: smaller;
  }
  h3 {
    font-weight: normal;
  }
  .div2 h3 {
    font-size: smaller;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    word-spacing: 10px;
    width: 60vw;
  }
  .div2 {
    margin-top: 20px;
    margin-left: 20px;
  }
  img {
    width: 60vw;
    height: 30vh;
  }
  nav ul li a {
    font-size: smaller;
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media screen and (min-width: 500px) {
  nav {
    height: 15vh;
    margin-top: 5px;
  }
  nav ul li {
    margin: 40px 40px;
  }
  nav ul li a {
    font-size: x-large;
    margin-left: -5px;
    margin-right: -5px;
  }
  .div1 {
    margin-top: 100px;
  }
  img {
    width: 20vw;
    height: 40vh;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  .div1 {
    font-size: larger;
    margin-right: 100px;
  }
  .div2 h3 {
    word-spacing: normal;
    width: 50vw;
    margin-top: 80px;
  }
  h3 {
    font-size: x-large;
    font-weight: normal;
  }
}
