* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: lightcyan;
  font-family: monospace;
}
nav {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 100vw;
  box-shadow: 1px 1px 10px 1px green inset;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 30px 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  background-color: lightgreen;
  padding: 4px;
}
nav ul li:hover {
  transform: scale(1.2);
  flex-wrap: wrap;
}
a:hover {
  color: black;
  border: 1px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  transition: 0.3s;
}
body {
  color: black;
  position: fixed;
}
#div1 {
  display: flex;
  justify-content: center;
  margin: 10%;
  font-size: large;
}
.div1 {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px 1px green inset;
  border-radius: 20px;
  width: 50vw;
  margin: auto;
}
.div1 div {
  padding: 20px;
}
.div1 h2 {
  padding: 20px;
}
.div1 div a i {
  margin: 30px;
}
@media screen and (max-width: 500px) {
  nav ul li a {
    font-size: smaller;
    margin-left: -5px;
    margin-right: -5px;
  }
  #div1 {
    margin-top: 20%;
    font-size: medium;
  }
  .div1 {
    height: auto;
    display: block;
    align-items: center;
    margin: auto;
  }
}
@media screen and (min-width: 501px) {
  nav {
    height: 15vh;
    margin-top: 5px;
  }
  nav ul li {
    margin: 40px 40px;
  }
  nav ul li a {
    font-size: x-large;
    margin-left: -5px;
    margin-right: -5px;
  }
  #div1 a {
    font-size: larger;
  }
}
